* {
    box-sizing: border-box;
}

.messages-list {
    box-shadow: inset 0 0 5px grey;
    height: 80vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 2em;
}

.pseudo {
    font-weight: bold;
    color: grey;
}

.notification {
    font-style: italic;
    color: blue;
}

#send-message-form {
    display: flex;
}

#message-input {
    flex-flow: 1;
    width: 80VW;
    height: 3em;
}
