$board-height: 90vh;
$board-width: 85vw;

@mixin slot {
    .slot {
        width: 16%;
        height: 100%;
        border: 2px solid black;

        .card {
            transition: all 0.5s;
            position: absolute;
            left: 0; top: 0;
            z-index: 1;
        }
    }
}

* {
    box-sizing: border-box;

    // Remove all relative position on elements placed on the bootstrap grid
    [class*=col] {
        position: static;
    }
}

#board {
    background-color: antiquewhite;
    width: $board-width;
    height: $board-height;
    position: relative;

    #left-panel {
        background-color: grey;
        height: 100%;

        @include slot();

        &>.row {
            [id^=sumoning-power-pool] {
                height: calc(0.2 * #{$board-height});
                background-color: brown;
            }

            #prescience-panel,
            #decks-panel {
                height: calc(0.6 * #{$board-height});
                background-color: chocolate;
            }
        }
    }

    #center-panel {
        background-color: rgb(160, 160, 160);
        height: 100%;

        &>.row {
            height: 100%;

            #player-panel-1,
            #player-panel-2 {
                height: 20%
            }
    
            #playground-1,
            #playground-2 {
                height: 30%;

                &>.row {
                    height: 100%;

                    //Selects all the defense and attack panel
                    [id*=slots-panel] {
                        height: 50%;
        
                        &>.row {
                            height: 100%;
                            display: flex;
                            justify-content: space-around;
        
                            @include slot;
                        }
                    }
                }
            }
        }
    }

    #right-panel {
        background-color: grey;
        height: 100%;

        &>.row {

            @include slot();

            [id^=major-invocation-pool] {
                height: calc(0.2 * #{$board-height});
                background-color: brown;
            }

            #ceremonies-panel,
            #major-invocations-panel {
                height: calc(0.6 * #{$board-height});
                background-color: chocolate;
            }
        }
    }
}